:root {
  --background: #2f2e41;
  --emphasis: #00bfa6;
  --paragraph: #c2c2c2;
  --white: #fff;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--white);
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

h1 span {
  color: var(--emphasis);
}

.p1,
.p2 {
  font-family: "Open Sans", sans-serif;
  color: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 604px;
}

.p2 span {
  color: var(--emphasis);
  font-weight: 700;
}

.page {
  margin: 0 auto;
  padding-top: 70px;
  min-width: 1000px;
  max-width: 1100px;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
}

ul li a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  color: var(--white);
}

ul li a:hover {
  font-weight: 700;
  font-size: 15px;
}

#footer {
  margin-top: 160px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: var(--white);
}

#padlock {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.line {
  width: 568px;
  height: 0px;
  border: 1px solid var(--emphasis);
  margin: 0 auto 28px;
}
